* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
body {
  min-width: 100vW;
  max-height: 100%;
}
nav {
  width: auto;
  height: 80px;
  background-image: radial-gradient(#f9c23c, #4caf50, white);
  animation: Nav-animation 3s;
  border-radius: 3px;
  background-size: 400% 400%;
  transition: background-image 0.3s ease, color 3s ease;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
@keyframes Nav-animation {
  0% {
    background-position: 0% -50%;
  }
  50% {
    background-position: -100% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}
nav ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 60px;
  margin-top: 10px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
.link:hover {
  background-color: rgba(255, 255, 255, 0.314);
  filter: blur(20%);
  transition: all 0.5s ease-in;
}
nav a button {
  color: #1b5e20;
  background-color: #ffeb3b;
  border: none;
  padding: 5px 20px;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}
.nav-button:hover {
  background-color: #f9c23c;
  transform: scale(1.1);
  transition: all 0.5s ease-in;
}

nav li:first-child {
  margin-right: auto;
  color: #1b5e20;
  font-size: 40px;
  font-family: "Mochiy Pop One", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}

/* HERO-CONTENT*/

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 130vh;
  background-image: linear-gradient(to right, #1b5e20, rgba(0, 255, 0, 0) 20%),
    url(../IMAGES/Hero\ Section.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  
}

.content-text {
  max-width: 30%;
  max-height: 50%;
  margin-left: 40px;
 
}
.hero-content h2 {
  font-size: 50px;
  text-align: left;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 16px;
  margin-bottom: 40px;
  text-align: left;
}

.content-bt {
  margin-left: 40px;
}
.pickup-bt,
.learn-bt {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: relative;
  overflow: hidden;

}

.pickup-bt {
  background-color: #4caf50;
  color: white;
}

.learn-bt {
  background-color: #ffeb3b;
  color: #1b5e20;
}

.pickup-bt:hover,
.learn-bt:hover {
  transform: scale(1.1);
}

.pickup-bt:hover {
  color: white;
  background-color: #4caf50;
}

.learn-bt:hover {
  color: #4caf50;
  background-color: #ffeb3b;
}

/* BUTTON-ANIMATIONS */

.pickup-bt::before,
.learn-bt::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.pickup-bt:hover::before,
.learn-bt:hover::before {
  transform: scaleX(1);
  transform-origin: right;
}

.pickup-bt:hover::before {
  background-color: rgba(255, 255, 255, 0.5);
}

.learn-bt:hover::before {
  background-color: rgba(255, 255, 255, 0.5);
}

/* SECTION 2 */

.audience {
  max-width: 100%;
  background-color: white;
  padding: 50px 0;
  height: 120vh;
}

.container {
  max-width: 100%;
  max-height: 100vh;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0 20px;
}

.audience h2 {
  color: #1b5e20;
  font-size: 40px;
  text-align: center;
  text-align: center;
  margin-bottom: 50px;
}
.audience-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.card {
  border-radius: 5px;
  background-color: transparent;
  width: 450px;
  height: 460px;
  margin: 0 10px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  transform: scale(1);
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}
@keyframes appear{
  from{
    opacity:0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}
.card-content {
  background-color: white;
  text-align: center;
  align-self: center;
  position: relative;
  bottom: 150px;
  height: 300px;
  margin-left: 10px;
  border-radius: 20px;
  width: 430px;
}

/*CARD ANIMATION*/
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card-content ::after,
.card-content::after {
  content: "";
  position: absolute;
  background-image: conic-gradient(
    from var(--angle),
    #1b5e20,
    #ffc107,
    #1b5e20
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
  border-radius: 20px;
  z-index: -1;
  animation: 3s spin linear infinite;
}
.card-content::before {
  filter: blur(1.5rem);
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.card h3 {
  color: #1b5e20;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 80px;
  font-size: 22px;
  margin-bottom: 20px;
}

.card p {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  max-width: 350px;
  margin-left: 30px;
}
/* MEdia querry*/
@media (max-width: 768px) {
  .audience-cards {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}

/*SECTION 3*/

.section3 {
  padding: 60px;
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.section3 h2 {
  color: #1b5e20;
  font-size: 36px;
  margin-bottom: 60px;
}

.section3-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1.875rem;
}

.section3-writeup{

  width: 100%;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.section3-text1 {
  
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
}

.section3-text1 h3 {
  font-size: 50px;
  margin-bottom: 15px;
  
}

.section3-text1 p {
  font-size: 20px;
  line-height: 1.5;


}

span{
    background-image: conic-gradient(
  
      #4caf50,
      #ff0000,
      #3b5998,
      #ffff00,
      #4caf50
    );
    background-size: 400% 400%;
    animation: spananimation 5s infinite;
    border-radius: 3px;
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    transition: background-image 0.3s ease, color 0.3s ease;
  }
  @keyframes  spananimation{
    0% {
      background-position: 0% -50%;
    }
    50% {
      background-position: -100% 50%;
    }
    100% {
      background-position: 50% 0%;
    }
  }

.section3-text2{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  text-align: left;
}


.section3-text2 h3 {
  font-size: 40px;
  margin-bottom: 10px;
}

.text2 .text3{
  font-size:10px;
  line-height: 1.5;
  
}
.text3{
  margin-right: 6.25rem;
}

.section3-butons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  margin-bottom: 30px;
  position: relative;
  bottom: 4rem;

}

.section3-img {
  width: 100%;
  max-width: 600px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.section3-img img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.section3-img:hover img {
  transform: scale(1.1);
}

/* SECTION 4*/
.section4 {
  position: relative;
  overflow: hidden;

}
.section4 {
  background-color: #1b5e20;
  padding: 50px;
  text-align: center;
  height: 110vh;
}

.section4-child1 {
  color: white;
  margin: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}
.section4-child1 h2{
  width:35%;
  font-size:2.5rem;
  text-align: left;
}
.section4-child1 p{
line-height: 1.5;
  text-align:left;
  width: 500px;
}

.section4-child2 {
  width:100%;
  height:320px;
  margin-top: 100px;
  margin-inline: auto;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient( to right, rgba(0,0,0,0),rgba(0,0,0,1), 20%,rgba(0,0,0,1), 80%,
  rgba(0,0,0,0),
  );
}
.child2-cnt1,
.child2-cnt2,
.child2-cnt3 {
  position: absolute;
  width: 25rem;
  height: 300px;
  border-radius: 10px;
  position: absolute;
  color: white;
  width: 25rem;
  height: 300px;
  border-radius: 10px;
  animation: scrollAnimation 20s linear infinite;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border:1px solid #f9c23c;
  left: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@keyframes scrollAnimation {
  to{
    left: -30%;
  }
}
.child2-cnt1{
  animation-delay: calc(20s / 3 * (3 - 1) * -1);
}
.child2-cnt2{
  animation-delay: calc(20s / 3 * (3 - 2) * -1);
}
.child2-cnt3{
  animation-delay: calc(20s / 3 * (3 - 3) * -1);
}

.child2-cnt1:hover,
.child2-cnt2:hover,
.child2-cnt3:hover {
  transform: scale(0.90);
  transition: transform 0.3s ease-in-out;
}

.child2-cnt1 h3,
.child2-cnt2 h3,
.child2-cnt3 h3 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.child2-cnt1 p,
.child2-cnt2 p,
.child2-cnt3 p {
  width: 70%;
  text-align: center;
  align-self: center;
  font-size: 1.25rem;
margin-bottom: 30px;
}
.section4-bt{
   display: inline-block;
   position: relative;
   top: 100px;
   right:500px;
}
.section4 .pickup-bt{
  background-color:#ffc107;
  color: #1b5e20;
}

/* SECTION 5 */

.section5 {
  margin-top: 200px;
  height: 700px;
  max-width: 100wh;
  background-color:white;
  text-align: center;
  position: relative;
}
.section5 div h2{
  color: #1b5e20;
  font-size: 30px;
  position:absolute;
  top: 5px;
  left:80px;

}

/* SECTION 6*/
.section6 {
  padding: 50px;
  text-align: center;
}

.section6 h2 {
  font-size: 50px;
  margin-top: 70px;

}
.faq{display: block;
  margin-top: 60px;

}

.section6 .QnA {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}
.questionbox-cont{
  
  display: flex;
  height: 400px;
  justify-content: center;

  margin-top: 50px;
}

.question-box {
 margin: 0 auto;
 padding: 2em;
 width: 300px;
 height: 300px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 border-radius: 10px;
 text-align: center;
 background-color:#1b5e20;
 color: white;
 position: relative;
}
.question-box::after {
  content:'';
  position: absolute;
  background-image: conic-gradient(
    from var(--angle),
    red,
    #ffc107,
    blue,
    red
  );
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%; 
  translate:-50% -50%;
  z-index:-1;
  padding: .30rem;
  border-radius: 4px;
  animation: glow 2s infinite;
  animation: 3s spin linear infinite;
}

.question-box::before {
  filter: blur(1.5rem);
}

.section6 .question-box h3 {
  font-size: 30px;
}

.question-box p {
  font-size: 16px;
  width: 100%;
  height: 40%;

}

.newsletter{
  max-width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.newsletter-ct{
  background-color:#EBEBEB;
  display: flex;
  width: 70%;
  height: 300px;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
.newsletter h2{
  color: #1b5e20;
  font-size: 50px;
  margin-bottom: 0.45rem;
}
.newsletter p {
  color: black;
  font-size: 16px; 
  line-height: 1.5; 
  width: 300px;
}

 .newsletter form {
  margin-top: 20px;
  margin-right: 40px;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.newsletter input[type="email"] {
  padding: 20px;
  border-radius: 5px;
  border: none;
  width: 300px;
  outline: none;
}

.newsletter button[type="submit"] {
  background-color: #1b5e20;
  color: #ffffff;
  padding: 20px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.newsletter button[type="submit"]:hover {
  background-color: #003300;
}


/*FOOTER*/
.footer {
  background-color: #FFEE54;
  padding: 10px 20px;
  position: relative;
  bottom: 0;
  width: auto;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  height:200px;
  padding: auto;
  margin-bottom: 50px;
}

.footer .section {
  font-weight: bold;
  width: 20%;
  min-width: 180px;
}
.footer .section img {
width: 20px;
}
.footer h3 {
  font-size: 30px;
  padding-right: 100px;
  font-family:"Mochiy Pop One", "sans-serif";
}

.foooter section h4 {
   background-color: #3b5998;
}
.section h4{
   font-size: 20px;
}
.wasteflip-info{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.more-inf{
  width: 20%;
  min-width: 180px;
  height: 150px;
  display: flex;
  font-weight: bold;
  flex-direction: column;
  justify-content: space-evenly;
}
.more-inf img{
  width: 20px;
  position: relative;
  top: 3px;

}

.footer p, .footer a {
  color: black;
  text-decoration: none;
  font-size: 16px;

}
.section a{
  line-height: 30px;
  transition: color 0.3s ease;
}

.section a:hover{
  color: #1b5e20;
}
.footer .social-icons a {
  margin-right: 10px;
}

.footer .social-icons img {
  margin-top: 20px;
  width: 20px;
}
.footer .image-container {
  display: flex;
  justify-content: right;
  align-items: right;
}

.footer .image-container img {
  width: 150px;
  height: 150px;
  margin-right: 100px;
}

.footer-bottom {
  margin-top: 20px;
  text-align: left;
  font-size: 14px;
  border-top: 1px solid black;
  padding-top: 20px;
margin-right: 20px;
  position: relative;
  font-weight: bold;
}
.footer-bottom a {
  color: black;
  margin-right: 20px;
}

.footer-bottom .copyright {
  margin-top: 10px;
  text-align: center;
  position: absolute;
  top: 100px;
  right: 300px;
}