* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
body {
  min-width: 100vw;
  max-height: 100%;
}
nav {
  width: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.875rem;
  height: 5rem;
  background-image: radial-gradient(#f9c23c, #4caf50, white);
  animation: Nav-animation 3s;
  border-radius: 0.1875rem;
  background-size: 400% 400%;
  transition: background-image 0.3s ease, color 3s ease;
  box-shadow: 0.1875rem 0.1875rem 0.3125rem rgba(0, 0, 0, 0.1);
}
.logo {
  color: #1b5e20;
  font-size: 2.5rem;
  font-family: "Mochiy Pop One", sans-serif;
  margin-right: auto;
}
@keyframes Nav-animation {
  0% {
    background-position: 0% -50%;
  }
  50% {
    background-position: -100% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}
nav ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 3.75rem;
  margin-top: 0.625rem;
}
nav a {
  height: 100%;
  padding: 0 1.875rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
.link:hover {
  background-color: rgba(255, 255, 255, 0.314);
  filter: blur(20%);
  transition: all 0.5s ease-in;
}
nav a button {
  color: #1b5e20;
  background-color: #ffeb3b;
  border: none;
  padding: 0.3125rem 1.25rem;
  margin-top: 0.625rem;
  border-radius: 0.3125rem;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}
.nav-button:hover {
  background-color: #f9c23c;
  transform: scale(1.1);
  transition: all 0.5s ease-in;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 2rem;
  margin-right: 1.875rem;
}

.hamburger .bar {
  width: 100%;
  height: 0.25rem;
  background-color: #1b5e20;
  border-radius: 0.125rem;
}

/* HERO-CONTENT*/

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 130vh;
  background-image: linear-gradient(to right, #1b5e20, rgba(0, 255, 0, 0) 20%),
    url(../IMAGES/Hero\ Section.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.content-text {
  max-width: 30%;
  max-height: 50%;
  margin-left: 2.5rem;
}
.hero-content h2 {
  font-size: 3.125rem;
  text-align: left;
  margin-bottom: 1.25rem;
}

.hero-content p {
  font-size: 1rem;
  margin-bottom: 2.5rem;
  text-align: left;
}

.content-bt {
  margin-left: 2.5rem;
}
.pickup-bt,
.learn-bt {
  padding: 0.9375rem 1.875rem;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 0.625rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  position: relative;
  overflow: hidden;
}

.pickup-bt {
  background-color: #4caf50;
  color: white;
}

.learn-bt {
  background-color: #ffeb3b;
  color: #1b5e20;
}

.pickup-bt:hover,
.learn-bt:hover {
  transform: scale(1.1);
}

.pickup-bt:hover {
  color: white;
  background-color: #4caf50;
}

.learn-bt:hover {
  color: #4caf50;
  background-color: #ffeb3b;
}

/* BUTTON-ANIMATIONS */

.pickup-bt::before,
.learn-bt::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.pickup-bt:hover::before,
.learn-bt:hover::before {
  transform: scaleX(1);
  transform-origin: right;
}

.pickup-bt:hover::before {
  background-color: rgba(255, 255, 255, 0.5);
}

.learn-bt:hover::before {
  background-color: rgba(255, 255, 255, 0.5);
}

/* SECTION 2 */

.audience {
  max-width: 100%;
  background-color: white;
  padding: 3.125rem 0;
  height: 120vh;
}

.container {
  max-width: 100%;
  max-height: 100vh;
  margin: 0 auto;
  margin-top: 6.25rem;
  padding: 0 1.25rem;
}

.audience h2 {
  color: #1b5e20;
  font-size: 2.5rem;
  text-align: center;
  text-align: center;
  margin-bottom: 3.125rem;
}
.audience-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 -0.625rem;
}

.card {
  border-radius: 0.3125rem;
  background-color: transparent;
  width: 28.125rem;
  height: 28.75rem;
  margin: 0 0.625rem;
  margin-bottom: 1.25rem;
  transition: transform 0.3s ease;
  transform: scale(1);
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 1.25rem;
  border-radius: 0.625rem;
}
.card-content {
  background-color: white;
  text-align: center;
  align-self: center;
  position: relative;
  bottom: 9.375rem;
  height: 18.75rem;
  margin-left: 0.625rem;
  border-radius: 1.25rem;
  width: 26.875rem;
}

/*CARD ANIMATION*/
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card-content ::after,
.card-content::after {
  content: "";
  position: absolute;
  background-image: conic-gradient(
    from var(--angle),
    #1b5e20,
    #ffc107,
    #1b5e20
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 0.9375rem;
  border-radius: 1.25rem;
  z-index: -1;
  animation: 3s spin linear infinite;
}
.card-content::before {
  filter: blur(1.5rem);
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.card h3 {
  color: #1b5e20;
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
  margin-top: 0.625rem;
  padding-top: 5rem;
  font-size: 1.375rem;
  margin-bottom: 1.25rem;
}

.card p {
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;
  max-width: 21.875rem;
  margin-left: 1.875rem;
}

/* MEdia querry
@media (max-width: 48rem) {
  .audience-cards {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin: 0;
    margin-bottom: 1.25rem;
  }
}  */

/*SECTION 3*/

.section3 {
  padding: 3.75rem;
  display: flex;
  margin-top: 3.75rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.section3 h2 {
  color: #1b5e20;
  font-size: 2.25rem;
  margin-bottom: 3.75rem;
}

.section3-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1.875rem;
}

.section3-writeup {
  width: 100%;
  padding: 1.25rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.section3-text1 {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  text-align: left;
}

.section3-text1 h3 {
  font-size: 3.125rem;
  margin-bottom: 0.9375rem;
}

.section3-text1 p {
  font-size: 1.25rem;
  line-height: 1.5;
}

span{
    background-image: conic-gradient(
  
      #1b5e20,
      #ff0000,
      #3b5998,
      orange,
      #1b5e20

    );
    background-size: 400% 400%;
    animation: spananimation 5s infinite;
    border-radius: 0.1875rem;
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    transition: background-image 0.3s ease, color 0.3s ease;
  }
  
  @keyframes spananimation {
    0% {
      background-position: 0% -50%;
    }
    50% {
      background-position: -100% 50%;
    }
    100% {
      background-position: 50% 0%;
    }
  }
}

.section3-text2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.875rem;
  text-align: left;
}

.section3-text2 h3 {
  font-size: 2.5rem;
  margin-bottom: 0.625rem;
}

.text2 .text3 {
  font-size: 0.625rem;
  line-height: 1.5;
}
.text3 {
  margin-right: 6.25rem;
}

.section3-butons {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 1.875rem;
  position: relative;
  bottom: 4rem;
}

.section3-img {
  width: 100%;
  max-width: 37.5rem;
  margin-bottom: 1.875rem;
  position: relative;
  overflow: hidden;
}

.section3-img img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.section3-img:hover img {
  transform: scale(1.1);
}

/* SECTION 4*/
.section4 {
  position: relative;
  overflow: hidden;
}
.section4 {
  background-color: #1b5e20;
  padding: 3.125rem;
  text-align: center;
  height: 110vh;
}

.section4-child1 {
  color: white;
  margin: 6.25rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.section4-child1 h2 {
  width: 35%;
  font-size: 2.5rem;
  text-align: left;
}
.section4-child1 p {
  line-height: 1.5;
  text-align: left;
  width: 31.25rem;
}

.section4-child2 {
  width: 100%;
  height: 20rem;
  margin-top: 6.25rem;
  margin-inline: auto;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1),
    20%,
    rgba(0, 0, 0, 1),
    80%,
    rgba(0, 0, 0, 0)
  );
}
.child2-cnt1,
.child2-cnt2,
.child2-cnt3 {
  position: absolute;
  width: 400px;
  height: 18.75rem;
  border-radius: 0.625rem;
  position: absolute;
  color: white;
  width: 25rem;
  height: 18.75rem;
  border-radius: 0.625rem;
  animation: scrollAnimation 20s linear infinite;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  border: 0.0625rem solid #f9c23c;
  left: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@keyframes scrollAnimation {
  to {
    left: -30%;
  }
}
.child2-cnt1 {
  animation-delay: calc(20s / 3 * (3 - 1) * -1);
}
.child2-cnt2 {
  animation-delay: calc(20s / 3 * (3 - 2) * -1);
}
.child2-cnt3 {
  animation-delay: calc(20s / 3 * (3 - 3) * -1);
}

.child2-cnt1:hover,
.child2-cnt2:hover,
.child2-cnt3:hover {
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out;
}

.child2-cnt1 h3,
.child2-cnt2 h3,
.child2-cnt3 h3 {
  font-size: 1.875rem;
  margin-top: 0.625rem;
  margin-bottom: 1.875rem;
}

.child2-cnt1 p,
.child2-cnt2 p,
.child2-cnt3 p {
  width: 70%;
  text-align: center;
  align-self: center;
  font-size: 1.25rem;
  margin-bottom: 1.875rem;
}
.section4-bt {
  display: inline-block;
  position: relative;
  top: 6.25rem;
  right: 31.25rem;
}
.section4 .pickup-bt {
  background-color: #ffc107;
  color: #1b5e20;
}

/* SECTION 4-a */

.section4-a {
  margin-top: 3.75rem;
  padding: 3.125rem 0;
  text-align: center;
}

.section4-a .mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}

.section4-a .mission-title {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.25rem;
  text-align: left;
}

.section4-a .mission-title h2 {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #1b5e20;
}

.section4-a .mission-title p {
  font-size: 1.25rem;
  line-height: 1.5;
  width: 31.25rem;
  margin-top: 0.625rem;
}

.section4-a .mission-text-heading h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 34.375rem;
}

.section4-a .mission-text-heading ol {
  margin-top: 1.25rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section4-a .mission-text-heading ol li {
  margin-bottom: 1.25rem;
  margin-right: 28.125rem;
  padding: 0 1.25rem;
  list-style-type: decimal;
  text-align: left;
}
.section4-a .mission-text-heading ol li strong {
  font-weight: bold;

  color: #1b5e20;
}

.section4-a .mission-text-heading ol li p {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #424242;
}

.section4-a img {
  width: 100%;
  max-width: 31.25rem;
  margin-top: 3.125rem;
}

/* SECTION 4-b */

.section4-b {
  width: 100vw;
  margin-top: 18.75rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section4-b-cnt {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 6.25rem;
}
.section4-b img {
  width: 18.75rem;
  animation: fluidAnimation 5s infinite;
  transition: transform 0.1s ease;
}

.section4-b img:nth-child(2n) {
  animation-delay: 1s;
}

.section4-b img:nth-child(3n) {
  animation-delay: 2s;
}

.section4-b img:nth-child(4n) {
  animation-delay: 3s;
}
.section4-b img:nth-child(5n) {
  animation-delay: 4s;
}

@keyframes fluidAnimation {
  0% {
    transform: translateX(0rem);
  }
  50% {
    transform: translateX(2.5rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

/* SECTION 5 */

.section5 {
  margin-top: 10.5rem;
  height: 43.75rem;
  margin-bottom: 15.5rem;
  max-width: 100vw;
  text-align: center;
  position: relative;
}
.section5 div h2 {
  color: #1b5e20;
  font-size: 2.1875rem;
  position: absolute;
  top: 3.125rem;
  left: 5.625rem;
}

/* SECTION 6*/
.section6 {
  padding: 3.125rem;
  text-align: center;
  margin-top: 10.5rem;
}

.section6 h2 {
  font-size: 3.125rem;
  margin-bottom: 3.375rem;
  position: relative;
}
.faq{
  margin-top: 3.75rem;
  position: absolute;
  right: 43.75rem;
}

.section6 .QnA {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
}
.QnA h2 span {
  margin-bottom: 0;
  padding: 0;
  font-weight: bold;
  color: #1b5e20;
}
.questionbox-cont {
  display: flex;
  height: 18.75rem;
  justify-content: center;
  align-items: center;
  margin-top: 3.125rem;
}

.question-box {
  margin: 0 auto;
  padding: 2em;
  width: 24rem;
  height: 12.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 3.75rem;
  text-align: center;
  background-color: white;
  color: #1b5e20;
  position: relative;
}
.question-box::after {
  content: "";
  position: absolute;
  background-image: conic-gradient(
    from var(--angle),
    #1b5e20,
    #ffc107,
    #1b5e20
  );
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 3.125rem;
  padding-top: 0.625rem;
  animation: glow 2s infinite;
  animation: 3s spin linear infinite;
}

.question-box::before {
  filter: blur(1.5rem);
}

.section6 .question-box h3 {
  font-size: 1.875rem;
}

.question-box p {
  font-size: 1rem;
  width: 100%;
  height: 40%;
}

.newsletter {
  max-width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter-ct {
  background-color: #ebebeb;
  display: flex;
  width: 80%;
  height: 18.75rem;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
.newsletter h2 {
  color: #1b5e20;
  font-size: 3.125rem;
  margin-bottom: 0.45rem;
}
.newsletter p {
  color: black;
  font-size: 1rem;
  line-height: 1.5;
  width: 18.75rem;
}

.newsletter form {
  margin-top: 1.25rem;
  margin-right: 2.5rem;
  max-width: 31.25rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
  display: flex;
}

.newsletter input[type="email"] {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: none;
  width: 18.75rem;
  outline: none;
}

.newsletter button[type="submit"] {
  background-color: #1b5e20;
  color: #ffffff;
  padding: 1.25rem 1.25rem;
  border-radius: 0.3125rem;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.newsletter button[type="submit"]:hover {
  background-color: #003300;
}

/*FOOTER*/
.footer {
  background-color: #ffee54;
  padding: 0.625rem 1.25rem;
  position: relative;
  bottom: 0;
  /* width: auto; */
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: left;
  height: 12.5rem;
  /* padding: auto; */
  margin-bottom: 3.125rem;
}

.footer .section {
  font-weight: bold;
  width: 20%;
  min-width: 11.25rem;
}
footer .section:last-of-type {
  text-align: right;
}
.footer .section img {
  width: 1.25rem;
}
.footer h3 {
  font-size: 1.875rem;
  /* padding-right: 6.25rem; */
  font-family: "Mochiy Pop One", "sans-serif";
}

.section h4 {
  font-size: 1.25rem;
}
.wasteflip-info {
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.more-inf {
  margin-bottom: 2rem;
  padding-left: 1rem;
}
.more-inf h5 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.mail {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  margin-bottom: 0.625rem;
}
.hr {
  border: 0.05rem solid #111111;
  margin-bottom: 2rem;
  width: 85%;
}

.footer p,
.footer a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}
.section a {
  line-height: 1.875rem;
  transition: color 0.3s ease;
}

.section a:hover {
  color: #1b5e20;
}
.footer .social-icons a {
  margin-right: 0.625rem;
}

.footer .social-icons img {
  margin-top: 1.25rem;
  width: 1.25rem;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
}
.bottom-left,
.copyright {
  display: flex;
  gap: 1.5rem;
  font-weight: 500;
}
.image-container {
  position: relative;
  bottom: 4.5rem;
  margin-bottom: -4rem;
}
@media (max-width: 768px) {
  #nav-links {
    position: absolute;
    top: 5rem;
    right: 0;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  #nav-links.active {
    transform: translateX(0);
  }

  nav ul {
    display: none;
  }

  nav ul.active {
    display: flex;
    height: 10rem;
  }

  nav li {
    margin-top: 1rem;
  }

  .nav-button {
    margin-top: 2rem;
  }

  .hamburger {
    display: flex;
    position: absolute;
    top: 1.5rem;
    right: 1.875rem;
    z-index: 2;
  }
}
