* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}
nav {
  width: auto;
  height: 80px;
  background-image: radial-gradient(#f9c23c, #4caf50, white);
  animation: Nav-animation 3s;
  border-radius: 3px;
  background-size: 400% 400%;
  transition: background-image 0.3s ease, color 3s ease;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
@keyframes Nav-animation {
  0% {
    background-position: 0% -50%;
  }
  50% {
    background-position: -100% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}
nav ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 60px;
  margin-top: 10px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
.link:hover {
  background-color: rgba(255, 255, 255, 0.314);
  filter: blur(20%);
  transition: all 0.5s ease-in;
}
nav a button {
  color: #1b5e20;
  background-color: #ffeb3b;
  border: none;
  padding: 5px 20px;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}
.nav-button:hover {
  background-color: #f9c23c;
  transform: scale(1.1);
  transition: all 0.5s ease-in;
}

nav li:first-child {
  margin-right: auto;
  color: #1b5e20;
  font-size: 40px;
  font-family: "Mochiy Pop One", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
}
h3 {
  font-size: 4rem;
  color: #1b5e20;
  font-weight: 600;
  margin-bottom: 2rem;
}
.recycle-container {
  padding: 0 5%;
}
.recycle-hero {
  background-image: url(/Images/recycle-hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin: 0 -5.5%;
}

.recycle-hero h1 {
  font-size: 4rem;
  max-width: 70%;
}
.recycle-hero p {
  max-width: 32%;
}
.selection {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 4.5rem;
  margin-bottom: 80px;
}
.type {
  background-color: #f2f2f2;
  border-radius: 100px;
  padding: 1.5rem 3rem;
  padding-left: 30px;
  width: 300px;
}
.type h4 {
  margin-bottom: 0.5rem;
}
.type p {
  font-size: smaller;
}
select {
  border: none;
  background-color: #f2f2f2;
}
.location {
  background-color: #fff;
  position: relative;
  right: 5rem;
}
.scale,
.category {
  display: flex;
  gap: 20px;
}
.category {
  flex-wrap: wrap;
}
.scale h4 {
  color: #1b5e20;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
}
.scale h4:first-of-type {
  border-bottom: 1px solid #1b5e20;
}

.category p {
  border: 2px solid #4caf50;
  padding: 0.5rem 1.2rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #1e1e1e;
}

.waste-category,
.drop-Offs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 3.5rem; */
}
.waste-type,
.area {
  width: 30%;
}
.waste-type img,
.area img {
  width: 100%;
}
.green-bar {
  color: #ffeb3b;
  background-color: #1b5e20;
  position: relative;
  bottom: 3rem;
  text-align: center;
  padding: 1rem 0;
  border-radius: 0 0 25px 25px;
}
.carousel-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  gap: 5px;
}
.carousel-bar div {
  background-color: #cbfbce;
  width: 15px;
  height: 8px;
  border-radius: 5px;
}

.carousel-bar div:first-of-type {
  background-color: #1b5e20;
  width: 25px;
}

.area h5 {
  font-size: 2rem;
  color: #1b5e20;
  margin-bottom: 1rem;
}
.area p {
  color: #777777;
  font-weight: 600;
}
.area p .fa {
  transform: rotate(-90deg);
  color: #777777;
}

.drop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-bottom: 6rem;
}
.drop h3 {
  align-self: flex-start;
}
.drop-Offs {
  margin-bottom: 3rem;
}
.button {
  background-color: #1b5e20;
  color: #ffffff;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-items: center;
  border: none;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: 600;
}

.testimonials {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}
.testimonials h5 {
  font-size: 2rem;
  font-weight: 600;
}
.testimonials h3 {
  width: 80%;
  text-align: center;
}
.test-wrap {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 2rem;
}
.testimonial-card {
  background: #ffeb3b;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 25px;
  padding: 2rem;
  width: 48%;
  color: #1b5e20;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial-card p {
  background: url(/Images/Vector.png);
  background-repeat: no-repeat;
  text-align: center;
  font-size: 26.7px;
  margin-bottom: 1rem;
  line-height: 2.5rem;
}
.card-top {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.card-top h5 {
  font-size: 2.5rem;
}
.FAQ {
  text-align: center;
}
.FAQ h3 {
  font-weight: 700;
  line-height: 5rem;
}

/* Dispose page css */
.dispose-hero {
  background-image: url(/IMAGES/dispose-hero.png);
}

/* FAQ */
.questionbox-cont {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0 6rem;
}
.question-box {
  border-top: 3px solid #4caf50;
  border-bottom: 3px solid #4caf50;
  border-radius: 25px;
  padding: 3rem;
  color: #1b5e20;
  width: 30%;
  text-align: left;
  font-weight: 500;
}
.question-box:first-of-type,
.question-box:last-of-type {
  border-top: 3px solid #ffeb3b;
  border-bottom: 3px solid #ffeb3b;
}
.question-box h4 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

/* newsletter section */
.newsletter {
  background-color: #ebebeb;
  padding: 3rem 0;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.newsletter h2 {
  color: #1b5e20;
  font-size: 4rem;
  font-weight: 700;
}
.newsletter p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
}
input {
  background-color: #f5f5f5;
  padding: 1rem;
  border: none;
  font-size: 1rem;
}
form {
  display: flex;
  height: 70px;
}
.submit {
  padding: 1rem;
  background-color: #1b5e20;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Footer Section */
footer {
  background-color: #ffeb3b;
  margin: 0 -5.5%;
  display: flex;
  flex-direction: column;
  padding: 4rem 4rem 0;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  font-weight: 500;
}
.section1 {
  width: 28%;
}
.section2 {
  width: 15%;
  line-height: 2.5rem;
}
.section4 {
  width: 22%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: right;
  align-items: flex-end;
}

.social-icons {
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer h3 {
  font-size: 2.25rem;
  color: #1e1e1e;
  font-family: "Mochiy Pop One", "sans-serif";
}
.section2 h4 {
  font-size: 1.5rem;
}
footer a {
  text-decoration: none;
  color: #111111;
}
.more-inf {
  margin-bottom: 2rem;
}
.more-inf h5 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.mail {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
.hr {
  border: 1px solid #111111;
  margin-bottom: 2rem;
  width: 85%;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
}
.bottom-left,
.copyright {
  display: flex;
  gap: 1.5rem;
  font-weight: 500;
}
.image-container {
  position: relative;
  bottom: 4.5rem;
  margin-bottom: -4rem;
}

/* @media only screen and (max-width: 992px) {
  .testimonial-card {
    width: 48%;
  }
  .card-top h5 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .card-top img {
    width: 100%;
    height: auto;
  }
} */
