* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}
nav {
  width: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.875rem;
  height: 5rem;
  background-image: radial-gradient(#f9c23c, #4caf50, white);
  animation: Nav-animation 3s;
  border-radius: 0.1875rem;
  background-size: 400% 400%;
  transition: background-image 0.3s ease, color 3s ease;
  box-shadow: 0.1875rem 0.1875rem 0.3125rem rgba(0, 0, 0, 0.1);
}
.logo {
  color: #1b5e20;
  font-size: 2.5rem;
  font-family: "Mochiy Pop One", sans-serif;
  margin-right: auto;
}
@keyframes Nav-animation {
  0% {
    background-position: 0% -50%;
  }
  50% {
    background-position: -100% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}
nav ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 3.75rem;
  margin-top: 0.625rem;
}
nav a {
  height: 100%;
  padding: 0 1.875rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
.link:hover {
  background-color: rgba(255, 255, 255, 0.314);
  filter: blur(20%);
  transition: all 0.5s ease-in;
}
nav a button {
  color: #1b5e20;
  background-color: #ffeb3b;
  border: none;
  padding: 0.3125rem 1.25rem;
  margin-top: 0.625rem;
  border-radius: 0.3125rem;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}
.nav-button:hover {
  background-color: #f9c23c;
  transform: scale(1.1);
  transition: all 0.5s ease-in;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 2rem;
  margin-right: 1.875rem;
}

.hamburger .bar {
  width: 100%;
  height: 0.25rem;
  background-color: #1b5e20;
  border-radius: 0.125rem;
}

h3 {
  font-size: 4rem;
  color: #1b5e20;
  font-weight: 600;
  margin-bottom: 2rem;
}
.recycle-container {
  padding: 0 5%;
}

.recycle-hero h1 {
  font-size: 4rem;
  max-width: 70%;
}
.recycle-hero p {
  max-width: 32%;
}
.selection {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 18.75rem;
  bottom: 4.5rem;
  margin-bottom: 5rem;
}
.type {
  background-color: #f2f2f2;
  border-radius: 100px;
  padding: 1.5rem 3rem;
  padding-left: 30px;
  width: 300px;
}
.type h4 {
  margin-bottom: 0.5rem;
}
.type p {
  font-size: smaller;
}
select {
  border: none;
  background-color: #f2f2f2;
}
.location {
  background-color: #fff;
  position: relative;
  right: 5rem;
}
.scale,
.category {
  display: flex;
  gap: 1.25rem;
}
.category {
  flex-wrap: wrap;
}
.scale h4 {
  color: #1b5e20;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
}
.scale h4:first-of-type {
  border-bottom: 1px solid #1b5e20;
}

.category p {
  border: 0.125rem solid #4caf50;
  padding: 0.5rem 1.2rem;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #1e1e1e;
}

.waste-category,
.drop-Offs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 56px; */
}
.waste-type,
.area {
  width: 30%;
}
.waste-type img,
.area img {
  width: 100%;
}
.green-bar {
  color: #ffeb3b;
  background-color: #1b5e20;
  position: relative;
  bottom: 3rem;
  text-align: center;
  padding: 1rem 0;
  border-radius: 0 0 1.5625rem 1.5625rem;
}
.carousel-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  gap: 5px;
}
.carousel-bar div {
  background-color: #cbfbce;
  width: 0.9375rem;
  height: 0.5rem;
  border-radius: 0.3125rem;
}

.carousel-bar div:first-of-type {
  background-color: #1b5e20;
  width: 1.5625rem;
}

.area h5 {
  font-size: 2rem;
  color: #1b5e20;
  margin-bottom: 1rem;
}
.area p {
  color: #777777;
  font-weight: 600;
}
.area p .fa {
  transform: rotate(-90deg);
  color: #777777;
}

.drop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}
.drop h3 {
  align-self: flex-start;
}
.drop-Offs {
  margin-bottom: 3rem;
}
.button {
  background-color: #1b5e20;
  color: #ffffff;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-items: center;
  border: none;
  gap: 0.625rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.testimonials {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}
.testimonials h5 {
  font-size: 2rem;
  font-weight: 600;
}
.testimonials h3 {
  width: 80%;
  text-align: center;
}
.test-wrap {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 2rem;
}
.testimonial-card {
  background: #ffeb3b;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 1.5625rem;
  padding: 2rem;
  width: 48%;
  color: #1b5e20;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial-card p {
  background: url(/Images/Vector.png);
  background-repeat: no-repeat;
  text-align: center;
  font-size: 26.6992px;
  margin-bottom: 1rem;
  line-height: 2.5rem;
}
.card-top {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.card-top h5 {
  font-size: 2.5rem;
}
.FAQ {
  text-align: center;
}
.FAQ h3 {
  font-weight: 700;
  line-height: 5rem;
}

/* FAQ */
.questionbox-cont {
  display: flex;
  justify-content: space-between;
  margin: 4rem 0 6rem;
}
.question-box {
  border-top: 0.1875rem solid #4caf50;
  border-bottom: 0.1875rem solid #4caf50;
  border-radius: 1.5625rem;
  padding: 48px;
  color: #1b5e20;
  width: 30%;
  text-align: left;
  font-weight: 500;
}
.question-box:first-of-type,
.question-box:last-of-type {
  border-top: 0.1875rem solid #ffeb3b;
  border-bottom: 0.1875rem solid #ffeb3b;
}
.question-box h4 {
  margin-bottom: 0.625rem;
  font-size: 1.5rem;
}

.question-box::after {
  content: "";
  position: absolute;
  background-image: conic-gradient(
    from var(--angle),
    #1b5e20,
    #ffc107,
    #1b5e20
  );
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 3.125rem;
  padding-top: 0.625rem;
  animation: glow 2s infinite;
  animation: 3s spin linear infinite;
}

.question-box::before {
  filter: blur(1.5rem);
}

/* newsletter section */
.newsletter {
  background-color: #ebebeb;
  padding: 3rem 0;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
.newsletter h2 {
  color: #1b5e20;
  font-size: 4rem;
  font-weight: 700;
}
.newsletter p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
}
.newsletter input {
  background-color: #f5f5f5;
  padding: 1rem;
  border: none;
  font-size: 1rem;
}
.newsletter form {
  display: flex;
  height: 4.375rem;
}
.submit {
  padding: 1rem;
  background-color: #1b5e20;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
button a {
  text-decoration: none;
  color: #fff;
}

button:hover {
  background-color: #0069d9;
}

/* Footer Section */
footer {
  background-color: #ffeb3b;
  margin: 0 -5.5%;
  display: flex;
  flex-direction: column;
  padding: 4rem 4rem 0;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  font-weight: 500;
}
.section1 {
  width: 28%;
}
.section2 {
  width: 15%;
  line-height: 2.5rem;
}
.section4 {
  width: 22%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: right;
  align-items: flex-end;
}

.social-icons {
  display: flex;
  gap: 0.625rem;
  align-items: center;
}
.footer h3 {
  font-size: 2.25rem;
  color: #1e1e1e;
  font-family: "Mochiy Pop One", "sans-serif";
}
.section2 h4 {
  font-size: 1.5rem;
}
footer a {
  text-decoration: none;
  color: #111111;
}
footer a:hover {
  color: #1b5e20;
  font-weight: 600;
}
.more-inf {
  margin-bottom: 2rem;
}
.more-inf h5 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.mail {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  margin-bottom: 0.625rem;
}
.hr {
  border: 0.0625rem solid #111111;
  margin-bottom: 2rem;
  width: 85%;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
}
.bottom-left,
.copyright {
  display: flex;
  gap: 1.5rem;
  font-weight: 500;
}
.image-container {
  position: relative;
  bottom: 4.5rem;
  margin-bottom: -4rem;
}
.image-container img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

/* Dispose page css */
.dispose-hero {
  background-image: url(/IMAGES/dispose-hero.png);
}

/* Schedule pickup page */

.form-wrap {
  margin: 2rem 0 3rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
}
.Schedule-form {
  margin: 2rem 3.5rem 3rem;
}
.form-wrap label {
  display: block;
}

.form-wrap label,
.freq label,
.Schedule,
.form-group label {
  color: #1b5e20;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 700;
}
.Schedule {
  font-size: 2rem;
}
.instruction {
  color: #1b5e20;
  margin: 1rem 0 4rem;
  font-size: 2rem;
  font-weight: 500;
}
.form-wrap div {
  flex: 1 1 calc(50% - 1rem);
  display: flex;
  flex-direction: column;
}
.form-input {
  width: 100%;
  background-color: #fff;
  color: #777777;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  border: 1px solid #777;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input[type="radio"] {
  padding: 5px;
  -webkit-appearance: none;
  outline: 2px solid #777;
  outline-offset: 1px;
  margin-right: 10px;
  border-radius: 1px;
  height: 20px;
  width: 20px;
}

input[type="radio"]:checked {
  display: inline-block;
  background-color: #111111;
  outline-offset: 3px;
}
.freq {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 2rem 0 5rem;
}
.freq label {
  font-size: 1.5rem;
}
.subscribe {
  display: flex;
}
.form-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
}
.form-group {
  flex: 1 1 calc(50% - 1rem);
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.form-group input {
  width: 100%;
  background-color: #fff;
  color: #777777;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  border: 1px solid #777;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #4caf50; /* Green border on focus */
  outline: none;
}
.subscribe {
  height: 4rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.subscribe button {
  border-radius: 5px;
}
.call {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}
.call p {
  font-size: 1rem;
  color: #1b5e20;
}
.sub-bot {
  color: #1b5e20;
  margin: 2rem 0 4rem;
  width: 90%;
  margin-left: 2rem;
}
@media only screen and (max-width: 992px) {
  /* testimonial */
  .test-wrap {
    justify-content: center;
  }
  .testimonial-card {
    width: 70%;
  }
  .card-top h5 {
    font-size: 32px;
  }
  .newsletter h2 {
    font-size: 3rem;
  }
  .newsletter p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  nav ul {
    position: absolute;
    top: 5rem;
    right: 0;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  nav ul.active {
    transform: translateX(0);
  }

  nav li {
    margin-top: 1rem;
  }

  .nav-button {
    margin-top: 2rem;
  }

  .hamburger {
    display: flex;
    position: absolute;
    top: 1.5rem;
    right: 1.875rem;
    z-index: 2;
  }

  .logo {
    margin-left: 1rem;
  }

  #nav-links {
    display: none;
  }

  #nav-links.active {
    display: flex;
    height: 10rem;
  }

  h3 {
    font-size: 3rem;
  }
  .card-top img {
    width: 100%;
    height: auto;
  }
  .waste-type,
  .area {
    width: 45%;
  }
  .form-group {
    flex: 1 1 100%;
  }

  /* testimonial */
  .test-wrap {
    justify-content: center;
  }
  .testimonial-card {
    width: 80%;
  }
  .questionbox-cont {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  .question-box {
    width: 80%;
  }
  /* newsletter */
  .newsletter {
    flex-direction: column;
    text-align: center;
  }

  .newsletter p {
    margin-bottom: 2rem;
  }

  .freq {
    flex-direction: column;
    width: 90%;
    margin: 2rem 0;
    align-items: flex-start;
    margin-left: 2rem;
  }

  .freq label {
    font-size: 1rem;
  }

  /* footer */
  footer {
    padding: 2rem;
  }
  .section1 {
    width: 45%;
    margin-bottom: 2rem;
  }
  .section2 {
    width: 30%;
  }
  .section4 {
    width: 35%;
  }
  .bottom-left {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    font-size: 2rem;
  }
  .form-group label,
  .form-wrap label {
    font-size: 1rem;
  }
  h3 {
    font-size: 2rem;
  }
  .instruction {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  .selection {
    margin-bottom: -2rem;
  }
  .Schedule-form {
    margin: 1rem;
  }
  .area h5,
  .testimonials h5 {
    font-size: 1.5rem;
  }
  .category p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  .button {
    font-size: 1rem;
  }
  .waste-category,
  .drop-Offs {
    justify-content: center;
  }
  .waste-type,
  .area {
    width: 70%;
  }
  .carousel-bar:first-of-type {
    display: none;
  }
  .testimonial-card {
    width: 90%;
  }
  .card-top {
    flex-direction: column;
  }
}
