* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    
    display: flex;
    width: 100%;
    max-width: 1200px;
    background:rgba(0, 0, 0, 0.5)url(../IMAGES/recycle-waste-management.jpg);
    background-blend-mode: darken;
    
    background-size: 1000px 700px;
    
    
}

.left {
    flex: 1;
    position: relative;
    background-image: url('.jpg'); 
    background-size: cover;
    background-position: center;
}

.logo {
    font-family:"Mochiy Pop One", sans-serif;
    position: absolute;
    top: 300px;
    left: 200px;
    background-image:linear-gradient( to right, #00ff00,darkgreen, #ffff00, #0000ff);
    animation: titleAnimation 6s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: bold;
}
@keyframes titleAnimation {
    0% {
      transform: scale(1);
      background-position: 0% 50%;
    }
    50% {
      transform: scale(1.1);
      background-position: 100% 50%;
    }
    100% {
      transform: scale(1);
      background-position: 0% 50%;
    }
  }



.right {
    flex: 1;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-size: 200px 100px;
}

.login-box {
    width: 100%;
    max-width: 400px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}




.options {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;

}

.checkbox{
    width: auto;
    height: auto;
}
.forgot-password {
    margin-top:20px ;
    color: #f05a24;
    text-decoration: none;
}

.login-btn {
    background-color: #28a745;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}
.login-btn a{
    color: white;
    text-decoration: none;
}

.signup {
    text-align: center;
    margin-top: 20px;
}

.signup a {
    color: #f05a24;
    text-decoration: none;
}

.login-alt {
    text-align: center;
    margin-top: 20px;
}

.social-login {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.social-login.facebook {
    color: #3b5998;
}

.social-login.google {
    color: #db4437;
}

.social-login.apple {
    color: black;
}