/* styles.css */
* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.signup-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5) url(../IMAGES/recycle-waste-management.jpg);
  background-blend-mode: darken;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position: center;
  display: flex;
  font-size: small;
}
.body-ct {
  border-radius: 0.3125rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.title {
  width: 50%;
  text-align: center;
  font-size: 2.5rem;
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;

  margin-bottom: 1.25rem;
  animation: titleAnimation 6s infinite;
  background: linear-gradient(to right, #ff0000, #ffff00, #0000ff);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes titleAnimation {
  0% {
    transform: scale(1);
    background-position: 0% 50%;
  }
  50% {
    transform: scale(1.1);
    background-position: 100% 50%;
  }
  100% {
    transform: scale(1);
    background-position: 0% 50%;
  }
}

.form-container {
  max-width: 31.25rem;
  margin: 0.625rem auto;
  padding: 1.25rem;
  background-color: white;
  border-radius: 1.875rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  margin-top: 3.125rem;
  display: flex;
  align-items: first baseline;
  flex-direction: column;
  justify-content: flex-start;
}
h2 {
  color: #4caf50;
  font-weight: bolder;
  border-color: #000;
  font-size: x-large;
  margin-bottom: 0.625rem;
}
p {
  margin-top: 0.625rem;

  top: auto;
  bottom: auto;
}

legend {
  color: #4caf50;
}
.signup-form {
  margin-top: 0.625rem;
  width: 100%;
  height: 27rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-ct {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  justify-items: center;
  height: 100%;
}
.login-ct {
  height: 100vh;
  padding: 4rem 1rem;
}
fieldset {
  border: 0.0625rem solid #000;
  width: auto;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 0.3125rem;
}
.E-P {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-evenly;
}
.Email,
.phone-numb {
  width: 100%;
}
.Email {
  margin-right: 0.625rem;
}
.form-ct input {
  width: 100%;
  height: 70%;
  border: none;
  outline: none;
  border-radius: none;
}

.T,
.P {
  color: #ff0000;
}

.account {
  width: 100%;
  margin-top: 1.25rem;
  padding: 0.625rem 1.25rem;
  background-image: linear-gradient(to right, lightgreen, #3e8e41);
  background-size: 200% 200%;
  color: #fff;
  border: none;
  border-radius: 0.1875rem;
  cursor: pointer;
}
.account:hover {
  background-position: 100% 50%;
  transition: background-position 0.3s ease;
}
.account:active {
  background-position: 0% 50%;
  transition: background-position 0.3s ease;
}
.other-signin {
  width: 100%;
}

.social {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 0 1rem;
  margin-top: 1rem;
}
.social-btn {
  width: 7rem;
  padding: 0.5rem 0;
  border: 1px solid #1b5e20;
}
#fb {
  color: white;
  border: 0.0625rem #4caf50 solid;
  margin-top: 2.5rem;
  padding-top: 0.25rem;
  width: 7.5rem;
  height: 2.5rem;
}
.login-link {
  margin-top: 2.5rem;
  margin-left: 32%;
}
.fb-fbb:hover {
  background-color: #3b5998;
  border-radius: 0.1875rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.fb-gog:hover {
  background-image: radial-gradient(#4caf50, #ff0000, #3b5998, #ffff00);
  background-size: 400% 400%;
  animation: googleGradientAnimation 3s infinite;
  border-radius: 0.1875rem;
  transition: background-image 0.3s ease, color 0.3s ease;
}
@keyframes googleGradientAnimation {
  0% {
    background-position: 0% -50%;
  }
  50% {
    background-position: -100% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}
.fb .login-sty {
  margin-left: 0.625rem;
  color: #ff0000;
}
.or-sign {
  margin-left: 40%;
  position: relative;
  margin-top: 1.875rem;
  margin-bottom: 0rem;
}
.or-sign:before {
  content: "   ";
  display: block;
  width: 9.6875rem;
  height: 0.125rem;
  background-color: grey;
  top: 50%;
  position: absolute;
  left: -10.625rem;
}
.or-sign:after {
  content: "   ";
  display: block;
  width: 9.6875rem;
  height: 0.125rem;
  background-color: grey;
  bottom: 30%;
  position: absolute;
  right: -0.3125rem;
}
.fb-app:hover {
  background-color: grey;
  border-radius: 0.1875rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.options {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  align-items: center;
}

.checkbox {
  width: auto;
  height: auto;
  margin: 0.625rem;
}
.forgot-password {
  color: #f05a24;
  text-decoration: none;
}
